{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block content %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>
		{% if app.user %}
			<button>
				<a href={{path("app_product_new")}}>Ajouter un produit</a>
			</button>
		{% endif %}

		{% for product in products %}
			<div>
				<h2>{{product.name}}</h2>
				<p>{{product.description}}</p>
				<p>{{product.price}}
					$$</p>
				<p>État :
					{{product.state}}</p>
				{% if app.user %}
					<button>
						<a href="{{path('app_product_update',parameters={id:product.id} ,relative=true)}}">Modifier</a>
					</button>
					<button>
						<a href="{{path('app_product_delete',parameters={id:product.id,action:'ask'} ,relative=true)}}">Supprimer</a>
					</button>

				{% endif %}

			</div>
		{% endfor %}
	</div>
{% endblock %}
